[user]
  name = 27Cobalter
  email = kontyanzhihg+github@gmail.com
[core]
  editor = nvim
  excludesfile = /home/cobalt/.dotfiles/.gitignore_global
[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status -s
[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = https://github.com/
[merge]
  ff = false
[pull]
  ff = only
[tag]
  sort = version:refname
[diff]
  tool = vimdiff
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
