#!/bin/sh
export TERMINAL=xfce4-terminal
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -drx
sh /home/ia/.fehbg &
compton -b
sudo nm-applet&
xbindkeys
/home/ia/.nyan/touchpad.sh&
